body {
    text-align: center;
    background-image: url(../resources/back2.jpg);
    background-position:center;
    overflow:auto;
}
#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
}
.container {
    display: block;
    width: 50%;
    margin: auto;
}
.btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
}
.game-over {
    background-color: red;
    opacity: 0.8;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}
h3
{
    text-align:right;
    color:deeppink;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: 2px 2px 4px grey;
}
h1 {
    text-align: center;
    color: lightskyblue;
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 2px 2px 4px grey;
    animation: bounceIn 2s infinite alternate;
    -webkit-animation: bounceIn 2s infinite alternate;
}
@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}